<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LEARNER'S ACADEMY Web Application</display-name>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/la</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>vaibhav</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value>admin</param-value>
  </context-param>
  <servlet>
    <servlet-name>ControllerServlet1</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet1</servlet-name>
    <url-pattern>/ControllerServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet2</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet2</servlet-name>
    <url-pattern>/ControllerServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet3</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet3</servlet-name>
    <url-pattern>/ControllerServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet4</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet4</servlet-name>
    <url-pattern>/ControllerServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet5</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet5</servlet-name>
    <url-pattern>/ControllerServlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet6</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet6</servlet-name>
    <url-pattern>/ControllerServlet6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet7</servlet-name>
    <servlet-class>com.xadmin.LA.LILO.ControllerServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet7</servlet-name>
    <url-pattern>/ControllerServlet7</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error1.jsp</location>
  </error-page>
</web-app>